<div [smoothHeight]="orderlist.length">
  <h1 id="tableLabel">Select Items</h1>

  <p>This component demonstrates fetching data from the server.</p>

  <div style="display: flex; justify-content: center">
    <mat-progress-spinner *ngIf="!listitems?.length" [mode]="'indeterminate'">
    </mat-progress-spinner>
  </div>
  <div class="main" *ngIf="listitems.length">
    <div class="container">
      <button
        class="btn"
        *ngFor="let item of burgerlist"
        (click)="NewMember(item)"
      >
        {{ item.name }}
      </button>
    </div>
    <div class="container">
      <button
        class="btn"
        *ngFor="let item of saladlist"
        (click)="NewMember(item)"
      >
        {{ item.name }}
      </button>
    </div>
    <div class="container">
      <button
        class="btn"
        *ngFor="let item of drinklist"
        (click)="NewMember(item)"
      >
        {{ item.name }}
      </button>
    </div>
  </div>
  <div class="line"></div>
  <div>
    <div class="orderlist" *ngFor="let item of orderlist">
      <app-cart-order [Item]="item" (onChangeMember)="onChangeMember($event)" (onDeleteMember)="DeleteMember($event)"></app-cart-order>
    </div>
  </div>
</div>
