:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: #0CC20C;
    height: 50px;
    width: 50px;
}
.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 30px;
}
.container{
    width: 33%;
    display: inline;
}
.btn{
    width: 100%;
}
.line{
    margin: 10px;
    height: 1px;
    border: 3px solid black;
}

.orderlist{
    display: flex;
    justify-content: center;
}
.deletebtn{
    margin-left: 7px;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid rgb(231, 50, 50);
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px #333;
    overflow: hidden;
    transition: .3s;

}
.deletebtn:hover {
    background-color: rgb(245, 207, 207);
    transform: scale(1.2);
    box-shadow: 0 0 4px #111;
    transition: .3s;
}
svg {
    color: rgb(231, 50, 50);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}
